.card {
    box-shadow: 0 0px 8px 2px #F5F5F7;
}

.flag {
    display: block;
    margin: 1rem auto;
    max-width: min(100%, 160px);
    height: auto;
}

.flagDivider {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
    color: #A0A0A0;
    text-align: center;
}

.dataContainer {
    margin: 1rem auto;
    width: min(100%, 400px);
}

.label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #A0A0A0;
    margin: .5rem auto;
}

.labelValue {
    display: block;
    font-size: 16px;
    margin: .5rem auto;
    text-align: end;
}

.tag {
    margin-inline-end: 0;
    font-weight: 500;
    padding: 2px 8px;
    font-size: 14px;
}