.emptyDataContainer {
    min-height: calc(100vh - 400px);
    align-content: center;
}

.container {
    max-width: 80vw;
    margin: 4rem auto;
    min-height: calc(100vh - 400px);
}

.buttonContainer {
    margin-bottom: 2rem;
    margin-top: -2rem;
}

.spin {
    display: flex;
    justify-content: center;
    align-items: center;
}