.container {
    max-width: 60vw;
    margin: 0 auto;
}

.header {
    font-size: 14px;
    font-weight: 500;
    color: #8A8A8A;
    display: block;
    margin: .5rem auto 1rem auto;
}

.itemContainer {
    margin: 1rem auto;
}

.label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #A0A0A0;
    margin: .5rem auto;
}

.button {
    margin: 1rem auto;
}